<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{post.title}}<small> by {{post.author}}</small></h3>
  </div>
  <div class="panel-body">
    {{post.text}}
  </div>
</div>
<center>
  <p><img src={{post.image}}></p>
</center>
